{% comment %}
  nav-main snippet
  Usage:
    {% render 'nav-main' %}
{% endcomment %}

<nav class="navigation">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#products" class="nav-link" aria-label="featured">New & Featured</a>
    </li>
    <li class="nav-item">
      <a href="#card" class="nav-link" aria-label="men">Men</a>
    </li>
    <li class="nav-item">
      <a href="#card" class="nav-link" aria-label="women">Women</a>
    </li>
    <li class="nav-item">
      <a href="#card" class="nav-link" aria-label="kids">Kids</a>
    </li>
  </ul>
</nav>